h1{
    color: wheat;
};

h2{
    color: wheat;
};

.row input{
    width:40%;
    margin:1rem;
    border:1px solid #dd2476;
    border-radius:5px;
}

button{
    color: wheat;
    width: 40%;
    margin: 1rem;
};